<div class="centerView view-visible" id="dataView">
    <h3 id="dataViewCaption">データビュー</h3>
    <%- include('../genericTable/genericTable.ejs', { 
        targetTable: targetTable, 
        basePath: basePath 
    }) %>
</div>
