<div class="centerView" id="editorView" style="display: none;">
    <h3>スクリプトエディタ</h3>
    <div id="scriptEditor">
        <div class="editor-container">
            <textarea id="scriptCodeEditor" rows="20"></textarea>
            <div class="button-container">
                <button id="saveScriptBtn" class="btn btn-primary" style="margin-right: 10px;">保存</button>
                <button id="resetScriptBtn" class="btn btn-secondary">リセット</button>
            </div>
        </div>
    </div>
</div>
