<div class="sidebarPanel" id="sideSubPanel">
    <div class="sidePanelTitle">
        <label>
            <%= sidePanelTitle %>
        </label>
    </div>
    <div class="sidePanelMenu" id="sidePanelSubMenu" open="true">
        <input type="text" id="search" placeholder="検索">
        <ul id="list">
        </ul>
    </div>
</div>

<script>
    let listType = '<%= sidePanelTitle %>';

    document.addEventListener('DOMContentLoaded', async () => {
        switch (listType) {
            case 'table':
                const tableList = await fetch('<%= basePath %>/api/models/all');
                let listTag = document.getElementById('list');
                listTag.replaceWith(await createTableList(await tableList.json()));
            default:
                break;
        }
    });

    async function createTableList(json) {
        const list = document.createElement('ul');
        // idを設定
        list.id = 'list';
        json.forEach((element) => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            switch (listType) {
                case 'table':
                    a.href = '<%= basePath %>/admin/table/' + element.table_name;
                    break;
                default:
                    break;
            }
            a.textContent = element.table_name;
            // マウスがリンクに乗った時にカーソルをポインタに変更する。
            a.onmouseover = () => {
                a.style.cursor = 'pointer';
            };
            li.appendChild(a);
            list.appendChild(li);
        });
        return list;
    }

</script>