<div class="sidebarPanel" id="sideMainPanel">
    <div class="sidePanelTitle">
        <label><a href="/admin"><%= sidePanelTitle %></a></label>
    </div>
    <div class="sidePanelMenu" id="sidePanelMainMenu" open="true">
        <ul>
            <li><a href="/admin/table">テーブル</a></li>
            <li><a href="/admin/query">クエリ</a></li>
            <li><a href="/admin/script">スクリプト</a></li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
    });

</script>