<div class="sidebarPanel" id="projectView">
    <div class="sidePanelTitle">
        <label>プロジェクト</label>
        <button class="smallButton" id="newProject" >新規</button>
        <button class="smallButton" id="expandSwitch" open="true">あちょー</button>
    </div>
    <div class="projectList" id="projectList" open="true">
        <div class="projectItem">
            <label><a href="/admin?s=project&p=0001">プロジェクト1</a></label>
        </div>
        <div class="projectItem">
            <label>プロジェクト2</label>
        </div>
        <div class="projectItem">
            <label>プロジェクト3</label>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const projectList = document.getElementById('projectList');
        const expandSwitch = document.getElementById('expandSwitch');

        expandSwitch.addEventListener('click', () => {
            const isOpen = projectList.getAttribute('open') === 'true';
            projectList.setAttribute('open', !isOpen);
            expandSwitch.setAttribute('open', !isOpen); // ボタンのopen属性を制御
            expandSwitch.textContent = isOpen ? '展開' : '縮小'; // ボタンのテキストを変更
        });
    });
</script>