<div class="sidebarPanel" id="projectView">
    <div class="sidePanelTitle" >
        <label>プロジェクト</label>
        <button class="smallButton" id="expandSwitch" open="true">あちょー</button>
    </div>
    <div class="projectList" id="projectList" open="true">
        <div class="projectItem">
            <label>プロジェクト1</label>
        </div>
        <div class="projectItem">
            <label>プロジェクト2</label>
        </div>
        <div class="projectItem">
            <label>プロジェクト3</label>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var projectView = document.getElementById('projectView');
        var expandSwitch = document.getElementById('expandSwitch');
        var projectList = document.querySelector('.projectList');

        expandSwitch.addEventListener('click', function() {
            if (projectList.getAttribute('open') === 'true') {
                projectList.setAttribute('open', 'false');
                expandSwitch.setAttribute('open', 'false');
            } else {
                projectList.setAttribute('open', 'true');
                expandSwitch.setAttribute('open', 'true');
            }
        });
    });
</script>