<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サンプルページ</title>
</head>
<body>
    <div id="top">
        ここにトップバーを入れる
    </div>
    <div id="body">
        ここに本体を入れる
    </div>
    <div id="foot">
        ここにフッターを入れる
    </div>
</body>
</html>