<div class="centerView" id="sqlView" style="display: none;">
    <h3>SQL文</h3>
    <div id="querySql">
        <div class="loading-container">
            <div class="spinner"></div>
            <p>読み込み中...</p>
        </div>
    </div>
</div>
