/* 色の変数定義 */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --header-background-color: #34495e;
    --footer-background-color: #95a5a6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-color: var(--header-background-color);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: var(--footer-background-color);
}

#body {
    position: absolute;
    top: 34px;
    bottom: 28px;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    background-color: var(--header-background-color);
    color: var(--background-color);
}

#right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background-color: var(--background-color);
    color: var(--text-color);
}

#center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.panelButton{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-image: url('/theme/startButton.png');
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    text-indent: -9999px; /* テキストを非表示にする */

}

