/* 色の変数定義 */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --header-background-color: #34495e;
    --header-background-hover-color: #4f6d8b;
    --menu-item-background-color: #16202b;
    --menu-item-selected-background-color: #2c3e50;
    --menu-item-hover-background-color: #627d9b;
    --footer-background-color: #95a5a6;
    --tab-button-background-color: #85a1bd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-color: var(--header-background-color);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: var(--footer-background-color);
}

#body {
    position: absolute;
    top: 34px;
    bottom: 28px;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#left[open="true"]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    background-color: var(--header-background-color);
    color: var(--background-color);
}

#left[open="false"]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--header-background-color);
    color: var(--background-color);
}

#center[open="true"]{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: calc(100% - 200px);
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#center[open="false"]{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.panelButton{
    background-color: var(--header-background-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    height: 100%;
    cursor: pointer;
    background-image: url('/theme/menu_64dp_FFFFFF.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    text-indent: -9999px; /* テキストを非表示にする */
}

.topbar{
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    padding-right: 0.5em;
    height: 24px;
    width: 50%;
    right: 0;
    text-align: right;
    color: white;
}

#user-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--header-background-color);
    background-image: url("/theme/person_64dp_FFFFFF.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    text-indent: -9999px; /* テキストを非表示にする */
    border-style: none;
    vertical-align: middle;
}

.logout-button {
    background-color: var(--header-background-color);
    width: 24px;
    height: 24px;
    color: white;
    border: none;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-image: url('/theme/logout_64dp_FFFFFF.png');
    background-size: 24px 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 5px;
    vertical-align: middle;
    text-indent: -9999px; /* テキストを非表示にする */
}

.sidePanelTitle{
    padding: 0 0;
}

.sidePanelTitle label{
    font-size: 0.9em;
    display: inline-block;
    width: calc(100% - 60px);
    height: 1.5em;
    vertical-align: middle;
    padding: 0 1em;
}

#newProject{
    width: 24px;
    height: 24px;
    background-color: var(--header-background-color);
    background-image: url("/theme/add_box_64dp_FFFFFF.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    text-indent: -9999px; /* テキストを非表示にする */
    border-style: none;
}

#newProject:hover{
    background-color: var(--header-background-hover-color);
}

.sidePanelTitle button{
    font-size: 0.9em;
    display: inline-block;
    right: 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-color: var(--header-background-color);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border-style: none;
    text-indent: -9999px; /* テキストを非表示にする */
}

.sidePanelTitle button[open="true"]{
    background-image: url("/theme/arrow_drop_down_64dp_FFFFFF.png");
}

.sidePanelTitle button[open="false"]{
    background-image: url("/theme/arrow_right_64dp_FFFFFF.png");
}

.sidePanelTitle button:hover{
    background-color: var(--header-background-hover-color);
}

#projectList[open="true"]{
    visibility: visible;
}

#projectList[open="false"]{
    visibility: hidden;
}

.menuItem, .projectItem{
    font-size: 0.9em;
    padding: 5px 1em;
    background-color: var(--menu-item-background-color);
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.menuItem:hover, .projectItem:hover{
    background-color: var(--menu-item-hover-background-color);
}

.menuItem a, .projectItem a{
    color: white;
    text-decoration: none;
}

.project-pane{
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tabs {
    border-bottom: 1px solid var(--tab-button-background-color);
}

.tab-button {
    background-color: var(--tab-button-background-color);
    color: white;
    border: none;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.tab-button:hover {
    background-color: var(--header-background-color);
}

.tab-button[selected="true"] {
    background-color: var(--primary-color);
}

.auth-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--menu-item-background-color);
}

.fixed-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 25%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1em;
    z-index: 100;
}
