<div class="table-panel">
    <h2>テーブル: <%= targetTable %></h2>
    <ul class="tab-holder">
        <li class="tab" id="data" selected="true">データ</li>
        <li class="tab" id="definition">定義</li>
    </ul>

    <div>
        <div id="dataView">
            データビュー
        </div>
        <div id="definitionView">
            定義ビュー
        </div>
    </div>


</div>

<script>

</script>