<div class="table-panel">
    <div class="panel-head">
        <h2 class="panel-caption">テーブル: <%= targetTable %>
        </h2>
        <ul class="tab-holder">
            <li class="tab" id="data" selected="true">data</li>
            <li class="tab" id="definition">definition</li>
            <li class="tab" id="rest">REST</li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="centerView-holder">
            <div class="centerView" id="dataView" style="display: block;">
                <h3 id="dataViewCaption">Data View</h3>
                <%
                    let queryParameters = params;
                %>
                <%- include('../genericTable/genericTable.ejs', {targetTable: targetTable, params: queryParameters}); %>
            </div>
            <div class="centerView" id="definitionView" style="display: none;">
                <h3>テーブル定義</h3>
                <pre id="tableDefinition"></pre>
            </div>
            <div class="centerView" id="restView" style="display: none;">
                <h3>REST API</h3>
            </div>
        </div>
    </div>
</div>

<script>
    // タブの切り替え
    document.addEventListener('DOMContentLoaded', async function () {

        await getl10n('dataViewCaption');
        await getl10n('data');
        await getl10n('definition');
        await getl10n('rest');

        const tabs = document.querySelectorAll('.tab');
        const views = document.querySelectorAll('.centerView');

        tabs.forEach((tab) => {
            tab.addEventListener('click', () => {
                tabs.forEach((t) => {
                    t.removeAttribute('selected');
                });
                tab.setAttribute('selected', 'true');

                views.forEach((view) => {
                    view.style.display = 'none';
                });
                document.getElementById(tab.id + 'View').style.display = 'block';
            });
        });
    });

    // 再描画
    document.addEventListener('DOMContentLoaded', async function () {
        const targetTable = '<%= targetTable %>';

        try {
            const response = await fetch(`/api/models/tableDefinition/${targetTable}`);
            const tableDefinition = await response.text();
            document.getElementById('tableDefinition').innerHTML = JSON.stringify(JSON.parse(tableDefinition), null, 2);
        } catch (error) {
            console.error('Error fetching table definition:', error);
        }
    });
</script>