<div class="panel-container">
    <h2>アプリケーション一覧</h2>
    <%- include('./applicationListPanel/table.ejs') %>
</div>
<%- include('./applicationListPanel/script.ejs') %>
<%- include('./applicationListPanel/style.ejs') %>
