<div class="panel-container">
    <h2>スクリプト一覧</h2>
    <%- include('./scriptListPanel/table.ejs') %>
</div>
<%- include('./scriptListPanel/script.ejs') %>
<%- include('./scriptListPanel/style.ejs') %>
