<div class="panel-container">
    <h2>テーブル一覧</h2>
    <%- include('./tableListPanel/table.ejs') %>
    <%- include('./tableListPanel/pagination.ejs') %>
</div>
<%- include('./tableListPanel/script.ejs') %>
<%- include('./tableListPanel/style.ejs') %>
