<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サンプルページ</title>
    <link rel="stylesheet" href="/theme/style.css">
</head>

<body>
    <div id="top">
        <%- include('../controls/startButton/startButton.ejs') %>
            ここにトップバーを入れる
    </div>
    <div id="body">
        <div id="left" open="true">
            <%- include('../controls/projectPane.ejs') %>
        </div>

        <div id="center" open="true">
            真ん中
        </div>
    </div>
    <div id="footer">
        ここにフッターを入れる
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            bindSidePanel('left');
            bindCenterPanel('center');
        });
    </script>
</body>

</html>