<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サンプルページ</title>
    <link rel="stylesheet" href="/theme/style.css">
</head>

<body>
    <div id="top">
        <%- include('../controls/startButton/startButton.ejs') %>
            ここにトップバーを入れる
    </div>
    <div id="body">
        <div id="left">
            左側のメニュー
        </div>
        <div id="right">
            右側のメニュー
        </div>
        <div id="center">
            真ん中
        </div>
    </div>
    <div id="footer">
        ここにフッターを入れる
    </div>
</body>

</html>