<a href="<%= basePath%>/admin"><img src="<%= basePath %>/theme/settings_64dp_FFFFFF.png"></a>
<a href="https://github.com/dtmoyaji/sandbox" target="_blank">
    SandBox-JS
</a>
<span id="message"></span>
