<div class="pagination-controls">
    <button id="prevPageBtn" disabled>&lt; 前へ</button>
    <span id="pageInfo">ページ <span id="currentPage">1</span> / <span id="totalPages">1</span></span>
    <button id="nextPageBtn" disabled>次へ &gt;</button>
</div>
